<div class="row">
<div class="span6">

<% @articles.each do |article| %>
  <div class="article">
    <h3 class="article-title"><%=article.name %></h3>
  <%= link_to article, id: "logo-p" do %>
                      <img src="<%=article.img%>" alt="img"  width="300" height="300">
                    
 <% end %>

</div>

<% end %>
<%= will_paginate @articles%>
</div>
</div>