<h1><%= @cart.name %></h1>
<div class="container">
  <div class="row">
     <div class="span12">
         <% if @cart.products.any? %>
     	     
        <ul class="cart-ul">
        <li><%= render @products %></li>
        </ul>
        
    <% end %>
     </div>
  </div>
</div>