

  <div class="row">
<h1><%= @cart.name %></h1>
     <div class="span6">
         <% if @cart.products.any? %>
     	     
        <ul class="cart-ul">
        <li><%= render @products %></li>
        </ul>
        
    <% end %>
     </div>
  </div>
